* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: orange;
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  border-radius: 10px;
  padding: 5px;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 10px;
  resize: vertical;
}
input[type="submit"] {
  width: 100%;
  justify-content: center;
  background-color: orange;
  color: black;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
}

input[type="submit"]:hover {
  background-color: white;
  color: black;
}
label {
  color: black !important;
  font-size: 18px;
}

.contact-me {
  font-size: 40px;
  color: orange;
  text-align: center;
  margin-top: 81px;
}

.footer-content {
  padding: 15px 0;
}
@media (max-width: 768px) {
  input[type="submit"] {
    font-size: 18px;
    padding: 5px 5px;
  }
  .container {
    margin-left: 6%;
    margin-right: 6%;
  }
}

@media (max-width: 768px) {
  .contact-me {
    font-size: 30px;
  }
}
