body {
  background-color: black;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #ffa500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
}

.navbar a {
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 72px;
  font-family: sans-serif;
  font-weight: 500;
}
.navbar a:hover {
  text-decoration: underline black;
  color: black;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.footer-content p {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
}
.p-footer {
  color: black !important;
}

.footer {
  width: 100%;
  background-color: orange;

  text-align: right;
}

@media (max-width: 1200px) {
  .navbar a {
    margin-right: 50px;
  }
}
@media (max-width: 991px) {
  .footer-content p {
    font-size: 16px;
  }
  .navbar a {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .navbar a {
    margin-right: 3px;
  }
}

@media (max-width: 640px) {
  .navbar a {
    padding: 17px 14px;
    font-size: 16px;
    margin-right: 0;
  }
}
@media (max-width: 540px) {
  .navbar a {
    padding: 17px 14px;
    font-size: 15px;
  }
  .footer-content p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .navbar a {
    padding: 15px 7px;
    font-size: 14px;
  }
  .footer-content p {
    font-size: 12px;
  }
}
